# AR stuff
eoat_7/
workcell_alpha_2/
workcell_beta/
testing/

# Viser .gitignore
*.swp
*.swo
*.pyc
*.egg-info
*.ipynb_checkpoints
__pycache__
.coverage
htmlcov
.mypy_cache
.dmypy.json
.hypothesis
.envrc
.lvimrc
.DS_Store
.envrc
.vite
build
src/viser/client/build
src/viser/client/.nodeenv
examples/assets

**/.claude/settings.local.json

# Meshcat
node_modules
dist/main.js
dist/main.min.js.LICENSE.txt
yarn-error.log
